html {
    margin: 0;
    padding: 0;
}

body > div:nth-child(1) {
    background: url("../images/home-bg.jpg") no-repeat 0px -650px;
    width: 1920px;
}

#home.parallax-section .col-md-offset-1.col-md-10 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 330px;
    padding-bottom: 330px;
    text-align: center;
}

#home.parallax-section div.home-wrapper {
    display: inline-block;
    background: white;
    opacity: 50%;
    padding: 30px 600px;
}

#home.parallax-section div.home-wrapper h3 {
    text-transform: uppercase;
    color: green;
}

#about.parallax-section {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#about.parallax-section div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

#about.parallax-section div.col-md-4 img {
    width: 250px;
}

#about div.col-md-4 {
    text-align: justify;
}

#about div.col-md-4 a {
    padding: 10px;
    background-color: grey;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
}

#about div.col-md-8 {
    background-color: whitesmoke;
    float: right;
}

#about div.col-md-8 .about-thumb {
    margin: 50px;
}

#about div.col-md-8 .section-title h3 {
    color: green;
    text-transform: uppercase;
}

#about div.col-md-8 .section-title h2 {
    font-size: 28px;
}

#work.parallax-section {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#work.parallax-section div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#work.parallax-section .col-md-3 {
    margin: auto;
}

#work.parallax-section img {
    width: 200px;
}

#work.parallax-section img {
    width: 200px;
}

#contact.parallax-section {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

textarea {
    width: 1094px;
    height: 200px;
}
